html,
body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color: darkolivegreen
}

.grid {
    
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 3000px 600px 600px;}
    header {
        background-color: white;
        position: relative;
        height: 600px;
        display: grid;
        grid-column: 1/13;
        grid-row: 1/2;
    grid-template-columns: repeat(2,1fr)repeat(3,75px);
grid-gap: 10px}
.menu {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);}
    @import url('https://fonts.googleapis.com/css?family=Ubuntu');
    @import url('https://fonts.googleapis.com/css?family=Puritan');

    .school{margin-top: 15px;
    z-index: 2;
    font-family: 'Ubuntu', sans-serif;
grid-column: 2/9;
grid-row: 1;
font-size: 24px;padding-left: 20px}
.phone{margin-top: 15px;
    z-index: 2;
font-family: 'Ubuntu', sans-serif;
grid-column: 2;
font-size: 24px;justify-self: flex-end}
.logo {
    grid-column: 2/3;
    grid-row: 2;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    height: 90px;
    width: 90px;
    margin-left: 20px;
    align-self: center
}
.name {
    grid-row: 2;
    grid-column: 4/6;
    font-size: 50px;
    align-self: center;
    font-family: 'Puritan', sans-serif;
}
.menu2 {
    grid-row: 3;
    grid-column: 1/6;
    font-family: 'Puritan', sans-serif;}


.uul { display: flex;
     justify-content: space-around;
     width: 500px;
     list-style-type: none;
}
li a {
    text-decoration: none;
    
    color:black;
}
li a:hover { border-top: 1px solid black;
    transition-property: all;
    transition-duration: 200ms;

} 