html,
body {
    height: 100%;
    width: 100%;
    
    background-color: darkolivegreen;
    padding: 0px
}

.grid {
    
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 3000px 600px 600px;
    position: absolute;

    overflow: hidden;}
    header {
        background-color: white;
        position: relative;
        height: 600px;
        display: grid;
        grid-column: 1/13;
        grid-row: 1/2;
    grid-template-columns: repeat(2,1fr)repeat(3,70px);
grid-gap: 5px}
.menu {font-size: 26px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, 1fr);}
    @import url('https://fonts.googleapis.com/css?family=Ubuntu');
    @import url('https://fonts.googleapis.com/css?family=Puritan');

    .school{margin-top: 15px;
    z-index: 2;
    font-family: 'Ubuntu';
grid-column: 2/9;
grid-row: 1;
font-size: 24px;padding-left: 20px}
.phone{margin-top: 15px;
    z-index: 2;
font-family: 'Ubuntu'; 
grid-column: 2;
font-size: 24px;justify-self: flex-end}
.logo {
    grid-column: 2/3;
    grid-row: 2;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    height: 90px;
    width: 90px;
    margin-left: 20px;
    align-self: center ;
    z-index: 1;
 }
.name {
    grid-row: 2;
    grid-column: 4/6;
    font-size: 50px;
    align-self: center;
    font-family: 'Puritan';
    z-index: 1;}
.submenu {
    grid-row: 3;
    grid-column: 1/6;
    font-family: 'Puritan';
    z-index: 1;}


.line { display: flex;
     justify-content: space-around;
     width: 500px;
     list-style-type: none;
}
li a {
    text-decoration: none;
    
    color:black;
}
li a:hover { border-top: 1px solid black;
    transition-property: all;
    transition-duration: 200ms;

} 
        
.inst {
    grid-column: 3;
    background-image: url(../img/instagram.png);
    background-repeat: no-repeat;
    background-position: top center;
    margin-top: 15px;
            z-index: 2;
font-family: 'Ubuntu';
}

.vk {
    grid-column: 4;
    background-image: url(../img/vk.png);
    background-repeat: no-repeat;
    background-position: top center;
    margin-top: 15px;
            z-index: 2;
font-family: 'Ubuntu';
}

.facebook {
    grid-column: 5;
    background-image: url(../img/facebook.png);
    background-repeat: no-repeat;
    background-position: top center;
    margin-top: 15px;
            z-index: 2;
font-family: 'Ubuntu';
}

.hill {grid-column: 1/13;
grid-row: 2/7;
background-image: url(../img/ocean.png)}
.hill2 {grid-column: 2/13;
    grid-row: 2/7;}
.subhill{   left: 164px;
    top: -513px;
    background-color: #ffff;
    border: 100px solid #fff;
    border-top: 100px solid transparent;

border-right: 100px solid transparent;

position: relative;


transform: rotate(-45deg);

width: 1100px;height: 1100px;
}
.subhill2{   left: 656px;
    top: -261px;
    background-color: #ffff;
    border: 100px solid #fff;
    border-top: 100px solid transparent;

border-right: 100px solid transparent;

position: relative;


transform: rotate(-57deg);

width: 660px;height: 700px;
}
.girl-block {height: 750px;
width: 750px;
position: absolute;
right: 203px;
top: 200px;
transform: rotate(45deg);
overflow: hidden;}
    .girl {
        position: absolute;
        height: 1000px;
        width: 1100px;
        top: -11%;
        right: -33%;
        transform: rotate(-45deg);
}